$navyBlue: "#2e4769";
$darkBlue: "#1f262e";
$charcoal: "#0a3543";
$babyBlue: "#cbe0dd";
$orange: "#ffad6f";
$burntOrange: "#e35a01";
$green: "#006955";
$forestGreen: "#4c7c71";
$whiteGreen: "#e7eee7";
$mint: "#b4f8c8";